# plantillas versionada durante el proyecto
VITE_APP_NAME=
VITE_API_URLs=
VITE_APP_ENV=
VITE_APP_VERSION=

# valores que tengo en mi .env
VITE_API_URL=
VITE_X_API_KEY=
VITE_APP_ORIGIN=
VITE_STORAGE_PREFIX=
VITE_API_TIMEOUT=
